<html>
  <head>
	<style>
	  body {
	  	background-color: e0daa4;
	  	font-size: 24px;
	  	padding: 40px;
	  }
	  .container {
	  	padding: 20px;
	  	font-size: 70px;
	  }
	  .anchors {
	      margin-right: 30px;
	      margin-top: 20px;
	  }
	  .headerdiv {
	      width: 80%;
	      height: 50%;
	      margin: 10%;
	      padding: 15px;
	      background-color: e5d3a4;
	      color: red;
	      font-size: 70px;
	  }
	</style>
  </head>
  <body>
      <div class="headerdiv">
          <p>
              Home Information will go here ...
          </p>
      </div>
	<div class="container">
	   <a href="/register" class="anchors">Registration</a><br>
	   <a href="/users" class="anchors">Users</a><br>
	   <a href="/updatecharges" class="anchors">Update Charges</a><br>
	   <a href="/viewcharges" class="anchors">View Charges</a><br>
	   <a href="/usercharges" class="anchors">User Transaction</a><br>
	</div>
  </body>
</html>
